fastapi
uvicorn
sqlalchemy
python-dotenv
requests
pydantic
PyJWT
python-multipart
firebase_admin
python-dateutil
psycopg2-binary
clerk-backend-api
livekit-agents
livekit-sdk
livekit-plugins-openai
livekit-plugins-elevenlabs
livekit-plugins-deepgram
livekit-plugins-silero
livekit-plugins-google