clerk-backend-api
fastapi
firebase_admin
livekit-agents[openai]~=1.2
livekit-plugins-deepgram
livekit-plugins-elevenlabs
elevenlabs
livekit-plugins-google
livekit-plugins-noise-cancellation~=0.2
livekit-plugins-silero
# livekit-sdk  <-- DELETED THIS LINE (It was the cause of the error)
livekit        # <-- Added the correct name (optional, as agents installs it automatically)
psycopg2-binary
pydantic
PyJWT
python-dateutil
python-dotenv
python-multipart
requests
sqlalchemy
uvicorn
requests
fpdf2
twilio