__pycache__
clerk-javascript
flossy-476616-cf6c940eac95.json
firebase_credentials.json
firebasescript.txt
node_modules
nlu_model
appointments.db
vosk-model-small-en-us-0.15
books
flossy-ui\.env
flossy-ui\.env.local
flossy-ui\.env.production
flossy_backend\.env
flossy_backend\.env.local
flossy_backend\.env.production
AWS_DEPLOYMENT_GUIDE.md
DEPLOYMENT_GUIDE.md
DEPLOYMENT_INFO.md
GOOGLE_CLOUD_RUN_DEPLOYMENT.md
IMPLEMENTATION_PLAN_AI.md