__pycache__
clerk-javascript
.env
flossy-476616-cf6c940eac95.json
firebase_credentials.json
firebasescript.txt
node_modules
nlu_model
appointments.db
package-lock.json
package.json
vosk-model-small-en-us-0.15\vosk-model-small-en-us-0.15